@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import "./variables";
@import "./mixins";

// Resets
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
}

// Main styles
body {
  padding: 50px 15px;
  background-color: #eee;
}
.container {
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.card {
  border: 1px solid $color_gray;
  padding: 30px 15px;
  background-color: $color_white;
  border-radius: 4px;
}
.title {
  font-size: 28px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-bottom: 10px;
  color: $color_gray_dark;

  &::before {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 150px;
    position: absolute;
    background-color: $color_cian;
    border-radius: 3px;
  }
}

// Grid
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-2-desk {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

@include media_query_max(992px) {
  * {
    font-size: 1rem;
  }
  .btn {
    padding: 10px 15px;
  }
  .title {
    font-size: 22px;
    &::before {
      width: 100px;
    }
  }
  .table-scroll {
    overflow-x: scroll;
  }
  .col-2-desk {
    width: 100%;
  }
}

// Buttons | Inputs
.btn {
  background-color: $color_white;
  color: $color_gray_dark;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  min-width: 220px;
  cursor: pointer;
  @include transition;
  outline: none;

  &:hover {
    background-color: rgba($color_cian, 0.7);
  }
  &:disabled,
  &:hover:disabled {
    background-color: $color_bg_btn;
    color: $color_font_btn;
    cursor: not-allowed;
    z-index: -1;
  }
}
.btn-cian {
  background-color: $color_cian;
  color: $color_white;
}
.btn-block {
  width: 100%;
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid $color_gray;
  outline: none;
  margin-bottom: 15px;
  @include transition;

  &::placeholder {
    color: $color_gray;
    @include transition;
  }

  &.invalid {
    border-color: $color_red;
  }
  &:focus::placeholder {
    color: $color_gray_dark;
  }
  &:focus {
    border-color: $color_gray_dark;
  }
}

// Table
.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: red;
  }
  td {
    padding: 10px 5px;
  }
}

// Shared items
#loader {
  opacity: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $color_white;
  border-left: none;
  border-top: none;
  animation-name: loader;
  animation: loader 1s infinite forwards;

  &.active {
    opacity: 1;
  }
}

// Helpers
.mt-2 {
  margin-top: 20px;
}

// Animations
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
