@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 50px 15px;
  background-color: #eee;
}

.container {
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.card {
  border: 1px solid #efeeed;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 4px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-bottom: 10px;
  color: #333;
}
.title::before {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 150px;
  position: absolute;
  background-color: #00c8b3;
  border-radius: 3px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-2-desk {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

@media only screen and (max-width: 992px) {
  * {
    font-size: 1rem;
  }

  .btn {
    padding: 10px 15px;
  }

  .title {
    font-size: 22px;
  }
  .title::before {
    width: 100px;
  }

  .table-scroll {
    overflow-x: scroll;
  }

  .col-2-desk {
    width: 100%;
  }
}
.btn {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  min-width: 220px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  outline: none;
}
.btn:hover {
  background-color: rgba(0, 200, 179, 0.7);
}
.btn:disabled, .btn:hover:disabled {
  background-color: #f6f6f6;
  color: #dddcdc;
  cursor: not-allowed;
  z-index: -1;
}

.btn-cian {
  background-color: #00c8b3;
  color: #fff;
}

.btn-block {
  width: 100%;
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #efeeed;
  outline: none;
  margin-bottom: 15px;
  transition: 0.2s ease-in-out all;
}
.form-input::placeholder {
  color: #efeeed;
  transition: 0.2s ease-in-out all;
}
.form-input.invalid {
  border-color: #eb4a46;
}
.form-input:focus::placeholder {
  color: #333;
}
.form-input:focus {
  border-color: #333;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table tr:nth-child(even) {
  background-color: red;
}
.table td {
  padding: 10px 5px;
}

#loader {
  opacity: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-left: none;
  border-top: none;
  animation-name: loader;
  animation: loader 1s infinite forwards;
}
#loader.active {
  opacity: 1;
}

.mt-2 {
  margin-top: 20px;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
